<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/" style="padding: 0px 15px 0px 15px;">
                <img class="visible-lg" src="{{ asset('img/logo-expanded.png') }}" alt="Activos Concursales"
                     style="float: left;" border="0">
                <img class="visible-md visible-sm visible-xs" src="{{ asset('img/logo-condensed.png') }}"
                     alt="Activos Concursales" style="float: left;" border="0">
            </a>
            {% if (is_granted('ROLE_USER'))  or (is_granted('ROLE_ADMIN')) %}
                <h4 style="display: inline-block">Bienvenido&nbsp;&nbsp;{{ app.user.name }}
                    &nbsp;&nbsp;{{ app.user.surname }}</h4>
            {% endif %}
        </div>
        <div id="navbar">
            <ul class="nav navbar-nav pull-right">
                {% if (not is_granted('ROLE_USER')) and (app.request.get('_route') != 'user_login') %}
                    <a href="{{ path('user_login') }}" class="btn btn-info" role="button"> &nbsp; <span
                                class="fa fa-lock"> 	&nbsp;</span>Login</a>
                {% endif %}
                {% if (is_granted('ROLE_USER'))  or (is_granted('ROLE_ADMIN')) %}
                    <a href="{{ path('user_logout') }}" class="btn btn-info" role="button"> &nbsp; <span
                                class="fa fa-sign-out"> 	&nbsp;</span>Logout</a>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
