{% extends 'base.html.twig' %}

{% block body %}
    <div style="width:80%;margin: 40px auto 40px auto;text-align:center;background: white;">
        <div>
            <h1 style="display: inline-block">LISTADO DE SUBASTAS</h1>
            {% if is_granted('ROLE_ADMIN') %}
                <div style="display: inline-block">
                    <div class="box-body text-right">
                        <a href="{{ path('asset_new') }}">
                            <button type="button" class="btn btn-primary btn-lg">Agregar subasta</button>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
        {# <a href="{{ path('asset_new') }}">
                <button type="button" class="btn btn-primary btn-lg">Agregar subasta</button>
            </a> #}
        <div>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success  alert-dismissible fade show" role="alert">
                    <strong> {{ message }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        </div>
        <table class="table table-hover text-center">
            <thead>
            <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Empresa</th>
                <th class="text-center">Precio Inicial de Venta</th>
                <th class="text-center">Fecha Vencimiento</th>
                <th class="text-center">Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for asset in assets %}
                <tr>
                    <td><a href="{{ path('asset_show', { 'id': asset.id }) }}">{{ asset.id }}</a></td>
                    <td>{{ asset.name }}</td>
                    <td>{{ asset.price }}</td>
                    <td>{{ asset.endDate |date("m/d/Y") }}</td>
                    <td>
                        <ul class="text-center">
                            <li style="display:inline;">
                                <a href="{{ path('asset_show', { 'id': asset.id }) }}"><img alt="show"
                                                                                            style="width:20px;"
                                                                                            src="{{ asset('viewicon.svg','img') }}"></a>
                            </li>
                            <li style="display:inline;">
                                <a href="{{ path('asset_edit', { 'id': asset.id }) }}"><img alt="editar"
                                                                                            style="width:20px;margin:auto 5px auto 5px;"
                                                                                            src="{{ asset('editicon.svg','img') }}"></a>
                            </li>
                            <li style="display:inline;">
                                <a href="{{ path('asset_delete', { 'id': asset.id }) }}"><img alt="delete"
                                                                                              style="width:20px;"
                                                                                              src="{{ asset('deleteicon.svg','img') }}"></a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
