{% extends 'base.html.twig' %}

{% block body %}
    <div style="width:80%;margin: 40px auto 40px auto;text-align:center;background: white;">
        <div>
            <h1 style="display: inline-block">LISTADO DE SUBASTAS</h1>
            {% if is_granted('ROLE_ADMIN') %}
                <div style="display: inline-block">
                    <div class="box-body text-right">
                        <a href="{{ path('asset_new') }}">
                            <button type="button" class="btn btn-primary btn-lg">Agregar subasta</button>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success  alert-dismissible fade show" role="alert">
                    <strong> {{ message }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        </div>
        <table class="table table-hover text-center">
            <thead>
            <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Empresa</th>
                <th class="text-center">Precio recomendado</th>
                <th class="text-center">Puja mas alta</th>
                <th class="text-center">Vence</th>
                {% if (is_granted('ROLE_USER'))  and (not is_granted('ROLE_ADMIN')) %}
                    <th class="text-center">Mi última puja/Pujas Totales</th>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                    <th class="text-center">Acciones</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for asset in assets %}
                {% set countMyBids = 0 %}
                {% set currentUserlastBid=0 %}
                {% set initialDateForComparing = date('200-03-15 14:18:00.000000') %}
                <tr>
                    <td class="align-middle">
                        <div style="border: 1px solid gray; min-width: 50px ;border-radius: 50%;background-color: cornflowerblue ;color: white;font-weight: bold">
                            <a
                                    style="color: white" href="{{ path('asset_show', { 'id': asset.id }) }}"
                                    style="font-weight: bold">{{ asset.id }}</a></div>
                    </td>
                    <td><strong>{{ asset.name |upper }}</strong></td>
                    <td>{{ asset.price|format_currency('EUR', locale='de') }}</td>
                    <td style="text-align: left">
                        {% if asset.highestBid == null %}
                            <strong style="color:green"> Aún no hay pujas</strong>
                        {% else %}
                            <strong style="color: #ff0000">
                                {{ asset.BestBid.bidAmount | format_currency('EUR', locale='de') }}</strong>&nbsp;&nbsp;({{ asset.BestBid.user.name }} {{ asset.BestBid.user.surname }})
                        {% endif %}
                    </td>
                    <td>{{ asset.endDate | date("m/d/Y") }}</td>
                    {% if (is_granted('ROLE_USER'))  and (not is_granted('ROLE_ADMIN')) %}
                        <td>
                            {% set countMyBids = 0 %}
                            {% set currentUserlastBid=0 %}
                            {% set initialDateForComparing = date('200-03-15 14:18:00.000000') %}
                            {% for bid in  asset.bids %}
                                {% if bid.user.id == app.user.id %}
                                    {% set countMyBids = countMyBids + 1 %}
                                    {% if bid.effectDate > initialDateForComparing %}
                                        {% set  initialDateForComparing = bid.effectDate %}
                                        {% set currentUserlastBid = bid %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if countMyBids == 0 %}
                                <strong style="color:green"> Aún no has pujado</strong>
                            {% else %}
                                <li style="display:inline;">
                                    <a href="{{ path('bid_delete', { 'id': currentUserlastBid.id }) }}"><img
                                                alt="delete"
                                                style="width:20px;"
                                                src="{{ asset('deleteicon.svg','img') }}"></a>
                                </li>&nbsp;&nbsp;{{ currentUserlastBid.bidAmount | format_currency('EUR', locale='de') }} / {{ countMyBids }}
                            {% endif %}
                        </td>

                    {% endif %}
                    <td>
                        <ul class="text-left" style="display:inline;">

                            {% if is_granted('ROLE_USER') %}
                                <li style="display:inline-block;">
                                    <div>
                                        <form method="post" action="{{ path('bid_new') }}">
                                            <div>
                                                <input name="bidAmount" size="5" type="number" min="1" required
                                                       style="display:inline-block;">
                                                <button style="display:inline-block;">Pujar</button>
                                            </div>
                                            <input type="hidden" name="_csrf_token"
                                                   value="{{ csrf_token('authenticate') }}">
                                            <input type="hidden" name="asset_id" value="{{ asset.id }}">
                                            <input type="hidden" name="user_id" value="{{ app.user.id }}">
                                        </form>
                                    </div>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}

                                <li style="display:inline;">
                                    <a href="{{ path('asset_edit', { 'id': asset.id }) }}"><img alt="editar"
                                                                                                style="width:20px;margin:auto 5px auto 5px;"
                                                                                                src="{{ asset('editicon.svg','img') }}"></a>
                                </li>
                                <li style="display:inline;">
                                    <a href="{{ path('asset_delete', { 'id': asset.id }) }}"><img alt="delete"
                                                                                                  style="width:20px;"
                                                                                                  src="{{ asset('deleteicon.svg','img') }}"></a>
                                </li>
                            {% endif %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
